.container-fluid{
  margin-top : 80px;
}

.background{
   background: black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

card-text {
  color: black;
}
